.auth-section{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100vh;
    box-sizing: border-box;
    padding: 5%;
    background-color: $primary;
    background-image: linear-gradient(135deg, $black 0%, $primary 100%);


    .auth-container{
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 50px;
        border-radius: 25px;
        box-shadow: $boxshadow;
        background-color: $forth;
    }
}

// Responsive

// Mobile
@media (max-width: 600px) {
    body {
      
        .auth-section .auth-container{
            padding: 0;
        }
    }
}

// Laptop
@media (min-width: 1180px) and (max-width: 1500px) {
    body {
      
        .auth-section .auth-container{
            padding: 0 50px;
        }
    }
}