.login-container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 50px;

    .login-container-title{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        h2{
            text-align: center;
            line-height: 1.2em;
        }

        p{
            line-height: 1.2em;
            margin-top: 5px;
            text-align: center;
        }
    }

    .form-container{
        margin-top: 40px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        input, textarea{
            width: 100%;
            padding: 10px;
            background-color: $white;
            border: none;
            margin: 10px 0;
            border-radius: 10px;
        }

        p{
            line-height: 1.2em;
            margin-top: 10px;
        }

        button{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            padding: 10px 20px;
            background-color: $primary;
            color: $white;
            border-radius: 10px;
            border-color: $transparent;
            margin: 10px 0;
            font-size: 1em;
            text-transform: uppercase;
            width: 100%;
            cursor: pointer;
            transition-duration: $animationtime;

            &:hover{
                background-color: $secundary;
                box-shadow: $boxshadow;
            }
        }

        .forgot-password-button{
            background-color: $transparent;
            color: $black;
            text-transform: capitalize;
            padding: 0;
            width: fit-content;
            font-size: 0.8em;

            &:hover{
                background-color: $transparent;
                box-shadow: none;
                font-weight: 500;
            }
        }

        .reset-password-container{
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: $primary;
            border-radius: 20px;
            padding: 20px;
            box-shadow: $boxshadow;

            .reset-password-content{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;

                button{
                    background-color: $fifth;
                    font-size: 0.8em;

                    &:hover{
                        background-color: $secundary;
                    }
                }

                .error{
                    color: $white;
                    font-weight: 300;
                }

                .success{
                    color: $white;
                    font-weight: 300;
                }
            }
        }

        .error{
            width: 100%;
            text-align: center;
        }
    }

    

    .other-sign{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 20px;

        button{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            padding: 10px 20px;
            background-color: $primary;
            color: $white;
            border-radius: 10px;
            border-color: $transparent;
            margin: 10px 0;
            font-size: 0.8em;
            text-transform: uppercase;
            width: 100%;
            cursor: pointer;
            transition-duration: $animationtime;

            &:hover{
                background-color: $secundary;
                color: $white;
                border-color: $transparent;
                box-shadow: $boxshadow;
            }
        }

        .apple-signin-button{
            background-color: $black;
        }

        .google-signin-button{
            background-color: $blue;
        }

        .toggle-auth-button{
            border: 1px solid $black;
            color: $black;
            background-color: $transparent;
        }
    }
}

// Responsive

// Mobile
@media (max-width: 600px) {
    body {
      
        .login-container .login-container-title p{
            margin-top: 20px;
        }
    }
}

// Tablet
@media (min-width:600px) and (max-width: 1180px) {
    body {
      
        .login-container .login-container-title p{
            margin-top: 20px;
        }
    }
}
  