@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&family=Roboto:wght@400&display=swap);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.gridrowfull {
  width: 100%;
}

.gridrow {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 750px) {
  .gridrow {
    width: 90%;
  }
}
@media (min-width: 1200px) {
  .gridrow {
    width: 1170px;
  }
}

.gridrowfull, .gridrow {
  display: flex;
  flex-wrap: wrap;
}
.gridrowfull .col, .gridrow .col {
  flex: 1;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .col-1, .gridrow .col-1 {
  box-sizing: border-box;
  width: 8.3333333333%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-1, .gridrow .offset-1 {
  margin-left: 8.3333333333%;
}
.gridrowfull .col-2, .gridrow .col-2 {
  box-sizing: border-box;
  width: 16.6666666667%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-2, .gridrow .offset-2 {
  margin-left: 16.6666666667%;
}
.gridrowfull .col-3, .gridrow .col-3 {
  box-sizing: border-box;
  width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-3, .gridrow .offset-3 {
  margin-left: 25%;
}
.gridrowfull .col-4, .gridrow .col-4 {
  box-sizing: border-box;
  width: 33.3333333333%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-4, .gridrow .offset-4 {
  margin-left: 33.3333333333%;
}
.gridrowfull .col-5, .gridrow .col-5 {
  box-sizing: border-box;
  width: 41.6666666667%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-5, .gridrow .offset-5 {
  margin-left: 41.6666666667%;
}
.gridrowfull .col-6, .gridrow .col-6 {
  box-sizing: border-box;
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-6, .gridrow .offset-6 {
  margin-left: 50%;
}
.gridrowfull .col-7, .gridrow .col-7 {
  box-sizing: border-box;
  width: 58.3333333333%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-7, .gridrow .offset-7 {
  margin-left: 58.3333333333%;
}
.gridrowfull .col-8, .gridrow .col-8 {
  box-sizing: border-box;
  width: 66.6666666667%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-8, .gridrow .offset-8 {
  margin-left: 66.6666666667%;
}
.gridrowfull .col-9, .gridrow .col-9 {
  box-sizing: border-box;
  width: 75%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-9, .gridrow .offset-9 {
  margin-left: 75%;
}
.gridrowfull .col-10, .gridrow .col-10 {
  box-sizing: border-box;
  width: 83.3333333333%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-10, .gridrow .offset-10 {
  margin-left: 83.3333333333%;
}
.gridrowfull .col-11, .gridrow .col-11 {
  box-sizing: border-box;
  width: 91.6666666667%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-11, .gridrow .offset-11 {
  margin-left: 91.6666666667%;
}
.gridrowfull .col-12, .gridrow .col-12 {
  box-sizing: border-box;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-12, .gridrow .offset-12 {
  margin-left: 100%;
}
@media (min-width: 750px) {
  .gridrowfull .col-t, .gridrow .col-t {
    flex: 1;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t, .gridrow .offset-t {
    margin-left: 0;
  }
  .gridrowfull .col-t-1, .gridrow .col-t-1 {
    box-sizing: border-box;
    width: 8.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-1, .gridrow .offset-t-1 {
    margin-left: 8.3333333333%;
  }
  .gridrowfull .col-t-2, .gridrow .col-t-2 {
    box-sizing: border-box;
    width: 16.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-2, .gridrow .offset-t-2 {
    margin-left: 16.6666666667%;
  }
  .gridrowfull .col-t-3, .gridrow .col-t-3 {
    box-sizing: border-box;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-3, .gridrow .offset-t-3 {
    margin-left: 25%;
  }
  .gridrowfull .col-t-4, .gridrow .col-t-4 {
    box-sizing: border-box;
    width: 33.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-4, .gridrow .offset-t-4 {
    margin-left: 33.3333333333%;
  }
  .gridrowfull .col-t-5, .gridrow .col-t-5 {
    box-sizing: border-box;
    width: 41.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-5, .gridrow .offset-t-5 {
    margin-left: 41.6666666667%;
  }
  .gridrowfull .col-t-6, .gridrow .col-t-6 {
    box-sizing: border-box;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-6, .gridrow .offset-t-6 {
    margin-left: 50%;
  }
  .gridrowfull .col-t-7, .gridrow .col-t-7 {
    box-sizing: border-box;
    width: 58.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-7, .gridrow .offset-t-7 {
    margin-left: 58.3333333333%;
  }
  .gridrowfull .col-t-8, .gridrow .col-t-8 {
    box-sizing: border-box;
    width: 66.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-8, .gridrow .offset-t-8 {
    margin-left: 66.6666666667%;
  }
  .gridrowfull .col-t-9, .gridrow .col-t-9 {
    box-sizing: border-box;
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-9, .gridrow .offset-t-9 {
    margin-left: 75%;
  }
  .gridrowfull .col-t-10, .gridrow .col-t-10 {
    box-sizing: border-box;
    width: 83.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-10, .gridrow .offset-t-10 {
    margin-left: 83.3333333333%;
  }
  .gridrowfull .col-t-11, .gridrow .col-t-11 {
    box-sizing: border-box;
    width: 91.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-11, .gridrow .offset-t-11 {
    margin-left: 91.6666666667%;
  }
  .gridrowfull .col-t-12, .gridrow .col-t-12 {
    box-sizing: border-box;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-12, .gridrow .offset-t-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  .gridrowfull .col-d, .gridrow .col-d {
    flex: 1;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d, .gridrow .offset-d {
    margin-left: 0;
  }
  .gridrowfull .col-d-1, .gridrow .col-d-1 {
    box-sizing: border-box;
    width: 8.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-1, .gridrow .offset-d-1 {
    margin-left: 8.3333333333%;
  }
  .gridrowfull .col-d-2, .gridrow .col-d-2 {
    box-sizing: border-box;
    width: 16.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-2, .gridrow .offset-d-2 {
    margin-left: 16.6666666667%;
  }
  .gridrowfull .col-d-3, .gridrow .col-d-3 {
    box-sizing: border-box;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-3, .gridrow .offset-d-3 {
    margin-left: 25%;
  }
  .gridrowfull .col-d-4, .gridrow .col-d-4 {
    box-sizing: border-box;
    width: 33.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-4, .gridrow .offset-d-4 {
    margin-left: 33.3333333333%;
  }
  .gridrowfull .col-d-5, .gridrow .col-d-5 {
    box-sizing: border-box;
    width: 41.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-5, .gridrow .offset-d-5 {
    margin-left: 41.6666666667%;
  }
  .gridrowfull .col-d-6, .gridrow .col-d-6 {
    box-sizing: border-box;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-6, .gridrow .offset-d-6 {
    margin-left: 50%;
  }
  .gridrowfull .col-d-7, .gridrow .col-d-7 {
    box-sizing: border-box;
    width: 58.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-7, .gridrow .offset-d-7 {
    margin-left: 58.3333333333%;
  }
  .gridrowfull .col-d-8, .gridrow .col-d-8 {
    box-sizing: border-box;
    width: 66.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-8, .gridrow .offset-d-8 {
    margin-left: 66.6666666667%;
  }
  .gridrowfull .col-d-9, .gridrow .col-d-9 {
    box-sizing: border-box;
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-9, .gridrow .offset-d-9 {
    margin-left: 75%;
  }
  .gridrowfull .col-d-10, .gridrow .col-d-10 {
    box-sizing: border-box;
    width: 83.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-10, .gridrow .offset-d-10 {
    margin-left: 83.3333333333%;
  }
  .gridrowfull .col-d-11, .gridrow .col-d-11 {
    box-sizing: border-box;
    width: 91.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-11, .gridrow .offset-d-11 {
    margin-left: 91.6666666667%;
  }
  .gridrowfull .col-d-12, .gridrow .col-d-12 {
    box-sizing: border-box;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-12, .gridrow .offset-d-12 {
    margin-left: 100%;
  }
}
.gridrowfull.nogutter .col, .gridrowfull.nogutter .col-t, .gridrowfull.nogutter .col-d, .gridrow.nogutter .col, .gridrow.nogutter .col-t, .gridrow.nogutter .col-d {
  padding: 0;
}
.gridrowfull.nogutter .col-1, .gridrowfull.nogutter .col-t-1, .gridrowfull.nogutter .col-d-1, .gridrow.nogutter .col-1, .gridrow.nogutter .col-t-1, .gridrow.nogutter .col-d-1 {
  padding: 0;
}
.gridrowfull.nogutter .col-2, .gridrowfull.nogutter .col-t-2, .gridrowfull.nogutter .col-d-2, .gridrow.nogutter .col-2, .gridrow.nogutter .col-t-2, .gridrow.nogutter .col-d-2 {
  padding: 0;
}
.gridrowfull.nogutter .col-3, .gridrowfull.nogutter .col-t-3, .gridrowfull.nogutter .col-d-3, .gridrow.nogutter .col-3, .gridrow.nogutter .col-t-3, .gridrow.nogutter .col-d-3 {
  padding: 0;
}
.gridrowfull.nogutter .col-4, .gridrowfull.nogutter .col-t-4, .gridrowfull.nogutter .col-d-4, .gridrow.nogutter .col-4, .gridrow.nogutter .col-t-4, .gridrow.nogutter .col-d-4 {
  padding: 0;
}
.gridrowfull.nogutter .col-5, .gridrowfull.nogutter .col-t-5, .gridrowfull.nogutter .col-d-5, .gridrow.nogutter .col-5, .gridrow.nogutter .col-t-5, .gridrow.nogutter .col-d-5 {
  padding: 0;
}
.gridrowfull.nogutter .col-6, .gridrowfull.nogutter .col-t-6, .gridrowfull.nogutter .col-d-6, .gridrow.nogutter .col-6, .gridrow.nogutter .col-t-6, .gridrow.nogutter .col-d-6 {
  padding: 0;
}
.gridrowfull.nogutter .col-7, .gridrowfull.nogutter .col-t-7, .gridrowfull.nogutter .col-d-7, .gridrow.nogutter .col-7, .gridrow.nogutter .col-t-7, .gridrow.nogutter .col-d-7 {
  padding: 0;
}
.gridrowfull.nogutter .col-8, .gridrowfull.nogutter .col-t-8, .gridrowfull.nogutter .col-d-8, .gridrow.nogutter .col-8, .gridrow.nogutter .col-t-8, .gridrow.nogutter .col-d-8 {
  padding: 0;
}
.gridrowfull.nogutter .col-9, .gridrowfull.nogutter .col-t-9, .gridrowfull.nogutter .col-d-9, .gridrow.nogutter .col-9, .gridrow.nogutter .col-t-9, .gridrow.nogutter .col-d-9 {
  padding: 0;
}
.gridrowfull.nogutter .col-10, .gridrowfull.nogutter .col-t-10, .gridrowfull.nogutter .col-d-10, .gridrow.nogutter .col-10, .gridrow.nogutter .col-t-10, .gridrow.nogutter .col-d-10 {
  padding: 0;
}
.gridrowfull.nogutter .col-11, .gridrowfull.nogutter .col-t-11, .gridrowfull.nogutter .col-d-11, .gridrow.nogutter .col-11, .gridrow.nogutter .col-t-11, .gridrow.nogutter .col-d-11 {
  padding: 0;
}
.gridrowfull.nogutter .col-12, .gridrowfull.nogutter .col-t-12, .gridrowfull.nogutter .col-d-12, .gridrow.nogutter .col-12, .gridrow.nogutter .col-t-12, .gridrow.nogutter .col-d-12 {
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  color: #0D0D0D;
  font-weight: 400;
  line-height: 1.4;
  font-size: 14px;
}
@media (min-width: 750px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

/* ======================== */
/* ======= HEADINGS ======= */
/* ======================== */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin: 0;
  line-height: 1.414;
}

h1, .h1, h2, .h2 {
  font-size: 2.2rem;
}

p, li, div, span, a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

* {
  font-family: "Roboto", sans-serif;
  color: #0D0D0D;
}

.login-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 50px;
}
.login-container .login-container-title {
  margin: 10px 0;
  text-align: center;
}
.login-container .form-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.login-container .form-container input, .login-container .form-container textarea {
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
  border: none;
  margin: 10px 0;
  border-radius: 10px;
}
.login-container .form-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px 20px;
  background-color: #147350;
  color: #ffffff;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0);
  margin: 10px 0;
  font-size: 1em;
  text-transform: uppercase;
  width: 100%;
  cursor: pointer;
  transition-duration: 0.3s;
}
.login-container .form-container button:hover {
  background-color: #0BBF7D;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.login-container .other-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.login-container .other-sign button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px 20px;
  background-color: #147350;
  color: #ffffff;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0);
  margin: 10px 0;
  font-size: 0.8em;
  text-transform: uppercase;
  width: 100%;
  cursor: pointer;
  transition-duration: 0.3s;
}
.login-container .other-sign button:hover {
  background-color: #0BBF7D;
  color: #ffffff;
  border-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.login-container .other-sign .apple-signin-button {
  background-color: #0D0D0D;
}
.login-container .other-sign .google-signin-button {
  background-color: #4285F4;
}
.login-container .other-sign .toggle-auth-button {
  border: 1px solid #0D0D0D;
  color: #0D0D0D;
  background-color: rgba(0, 0, 0, 0);
}

.auth-animation-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px;
}
.auth-animation-container > div {
  width: 100%;
  height: 100%;
  padding: 0px;
}

.auth-section {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  height: 100vh;
  box-sizing: border-box;
  padding: 5%;
  background-color: #147350;
  background-image: linear-gradient(135deg, #0D0D0D 0%, #147350 100%);
}
.auth-section .auth-container {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 100px 50px;
  border-radius: 25px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  background-color: #eeeeee;
}

html, body {
  scroll-behavior: smooth;
}

* {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}/*# sourceMappingURL=style.css.map */